.hidden {
    display: none;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
    ;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

/* common */

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

 @media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
 }

 @media screen and (min-width: 1158px) {
    .container {
            max-width: 1158px;
            padding: 0 15px;
        }
 }

 /* header */

 .page-header {
     border-bottom: 1px solid #e7e9fc;
     box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
    }

        .header-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

.nav-list, 
.contacts {
    display: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo {
    display: block;
    padding: 16px 0;
}

.header-logo .logo-part {
    color: #2e2f42;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
    .burger-btn {
        display: none;
    }

        .nav-list {
            display: flex;
            align-items: center;
            gap: 40px;
        }

        .contacts {
            font-style: normal;
            display: block;
        }

                .contacts-list {
                    gap: 12px;
                    display: flex;
                    flex-direction: column;
                }

                .contacts-link {
                    display: block;
                    font-size: 12px;
                    line-height: 1.17;
                    letter-spacing: 0.04em;
                    color: #434455;
                    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                }

        .header-nav {
            display: flex;
            align-items: center;
        }

        .header-logo {
            padding: 24px 0;
            margin-right: 120px;
        }

                .nav-link {
                    display: block;
                    padding: 24px 0;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 1.5;
                    letter-spacing: 0.02em;
                    color: #2e2f42;
                    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                }
        
                .nav-link.current {
                    position: relative;
                }
        
                .nav-link.current::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -1px;
                    width: 100%;
                    height: 4px;
                    border-radius: 2px;
                    background-color: #404bbf;
                }

                        .contacts-link:hover,
                        .contacts-link:focus,
                        .nav-link:hover,
                        .nav-link:focus,
                        .nav-link.current {
                            color: #404bbf;
                        }
}


@media screen and (min-width: 1158px) {
    .header-logo {
            margin-right: 76px;
        }

        .contacts-list {
            gap: 40px;
            flex-direction: row;
            align-items: center;
        }

        .contacts-link {
            padding: 24px 0;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
        }
    }

    /* mobile menu */
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transform: translateY(100%);
    transition: transform 250ms linear;
}

.mobile-menu.is-open {
    transform: translateY(0);
}

.mobile-menu-container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu-close-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border: 1px solid #e7e9fc;
    border-radius: 50%;
}

.nav-mobile {
    padding-top: 72px;

}

.nav-list-mobile {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.nav-link-mobile {
    color: #2e2f42;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link-mobile:hover, 
.nav-link-mobile:focus {
    color: #404bbf;
}

.address-links-container {
    margin-top: auto;
}

.contacts-list-mobile {
    font-style: normal;
    display: flex;
    flex-direction: column-reverse;
    gap: 24px;
    margin-bottom: 48px;
}

.contacts-link-mobile {
    color: #434455;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link-mobile:hover, 
.contacts-link-mobile:focus {
    color: #404bbf;
}

.social-media-mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 40px;
}

.social-media-icon-mobile {
    width: 40px;
    height: 40px;
}

.social-media-link-mobile {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-link-mobile:hover, 
.social-media-link-mobile:focus {
    background-color: #31d0aa;
}

/* #region Hero */

.page-hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/mobil-bg-1x.jpg");
    background-color: #2e2f42;
    background-size: cover;
    max-width: 320px;
    height: 432px;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 72px;
    padding-bottom: 72px;
}

.page-title {
    max-width: 216px;
    margin: auto;
    margin-bottom: 48px;
    width: 216px;
    height: 120px;
    display: block;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.btn {
    min-width: 169px;
    height: 56px;
    border: none;
    padding: 16px 32px;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    font-family: inherit;
    cursor: pointer;
    background-color: #4d5ae5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
    background-color: #404BBF;
}


@media screen and (min-width: 768px) {


        .page-hero {
                background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/tablet-bg-1x.jpg");
                
                background-size: cover;
                max-width: 768px;
                background-repeat: no-repeat;
                background-position: center;
                padding-top: 112px;
                padding-bottom: 112px;
            }

                                .page-title {
                                    max-width: 496px;
                                    margin: auto;
                                    margin-bottom: 36px;
                                    width: 496px;
                                    height: 120px;
                                    display: block;
                                    font-weight: 700;
                                    font-size: 56px;
                                    line-height: 1.07;
                                    letter-spacing: 0.02em;
                                    text-align: center;
                                    color: #fff;
                                }

                                


}

@media screen and (min-width: 1158px) {

    .page-hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/desktop-bg-1x.jpg");
            max-width: 1440px;
            height: 600px;
            background-repeat: no-repeat;
            background-position: center;
            padding-top: 188px;
            padding-bottom: 188px;
        }
        
    }

/* #endregion */

/* #region featur */

.section-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0px;
    border: 0px;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.featur {
    padding: 96px 0;
}

.featur-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 72px;
}


.border-icon {
    display: none;
    
}


.featur-subtitle {
    text-align: center;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.featur-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


@media screen and (min-width: 768px) {

    .featur-list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 24px;
        }


        .featur-item {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            background: #fff;
            width: calc((100% - 24px) / 2);
        }

}


@media screen and (min-width: 1158px) {

    .featur {
            padding: 120px 0;
        }

    .featur-list {
            display: flex;
            align-items: center;
            gap: 24px;
        }
    
    
        .border-icon {
            display: flex;
            border: 1px solid #8e8f99;
            border-radius: 4px;
            width: 264px;
            height: 112px;
            background: #f4f4fd;
            justify-content: center;
            align-items: center;
            margin-bottom: 8px;
        }
    
    
        .featur-item {
            width: calc((100% - 72px) / 4);
        }
    
        .featur-subtitle {
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
            letter-spacing: 0.02em;
        }
    
        .featur-text {
            font-weight: 400;
        }

}


/* #endregion */

/* #region team */

.team {
    padding: 96px 0;
    background-color: #f4f4fd;
}


.team-title {
    margin-bottom: 72px;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}


.team-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 72px;
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.team-name {
    padding: 32px 0;
}

.team-item {
    border-radius: 0 0 4px 4px;
        width: 264px;
        height: 428px;
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
            background-color: #fff;
}

.team-subtitle {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}

.social-media-icon {
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-link {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-link:hover,
.social-media-link:focus {
    background-color: #404bbf
}

.soc-icon {
    fill: #f4f4fd;
}


@media screen and (min-width: 768px) {
    .team-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
        row-gap: 72px;
    }
}

@media screen and (min-width: 1158px) {
    .team {
        padding: 120px 0;
    }
}

/* #endregion */

/* #region portfolio */

.portfolio {
    padding: 96px 0;
}

.portfolio-title {
    margin-bottom: 72px;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.portfolio-list {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.portfolio-item {
    width: 100%;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-subtitle {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.portfolio-content {
    border: 1px solid #e7e9fc;
    border-top: none;
    padding: 32px 16px;
}

.portfolio-photo {
    position: relative;
    overflow: hidden;
}

.hidden-text {
    position: absolute;
    top: 0;
    height: 100%;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4d5ae5;
    ;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px 32px;
    overflow: auto;
}

.portfolio-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .hidden-text {
    transform: translateY(0%);
}


@media screen and (min-width: 768px) {



    .portfolio-item {
            width: calc((100% - 24px) / 2);
        }

                .portfolio-list {
                    flex-direction: row;
                    flex-wrap: wrap;
                    gap: 24px;
                    row-gap: 72px;
                }

}


@media screen and (min-width: 1158px) {

    .portfolio {
            padding: 120px 0;
        }

                .portfolio-item {
                    width: calc((100% - 48px) / 3);
                    
                }

                .portfolio-list {
                    row-gap: 48px;
                }

}


/* #endregion */

/* #region footer */

.footer {
    padding-top: 196px;
    padding-bottom: 196px;
    background-color: #2e2f42;
}


.footer-logo {
    display: inline-block;
    align-items: center;
    margin: 0;
    margin-bottom: 16px;
}

.footer-text {
    width: 264px;
    text-align: left;
    color: #f4f4fd;
}

.footer-flex {
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 72px;
}

.social-media-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
}


.social-media-footer {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
    align-items: start;
}

.social-media-icon-footer {
    width: 40px;
    height: 40px;
}

.social-media-link-footer {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-link-footer:hover,
.social-media-link-footer:focus {
    background-color: #31d0aa;
}


.subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.user-email-input {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 4px;
    width: 288px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    padding: 8px 16px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    font-weight: 400;
    color: #fff;
}

.user-email-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    opacity: 0.6;
}

.subscribe-btn {
    border: none;
    border-radius: 4px;
    padding: 8px 24px;
    max-width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
}

.footer-subscribe-btn {
    margin-left: 16px;
}


.subscribe-btn:hover {
    background: #404bbf;
}


@media screen and (min-width: 768px) {

    .footer-flex {
            flex-direction: row;
            flex-wrap: wrap;
            row-gap: 72px;
            gap: 24px;
            padding-left: 108px;
            text-align: left;
        }

        .subscribe {
            flex-direction: row;
            align-items: start;
            gap: 24px;
        }
}


@media screen and (min-width: 1158px) {

    .footer {
        padding-top: 100px;
        padding-bottom: 100px;
    }


        .footer-flex {
            display: flex;
            flex-direction: row;
            align-items: baseline;

        }

        .subscribe {
            display: flex;
            gap: 24px;
        }


        .footer-subscribe {
            margin-left: auto;
        }
}

/* #endregion */

/* #region backdrop */
/* #endregion */