.hidden {
    display: none;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
    ;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

/* common */

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

 @media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
 }

 @media screen and (min-width: 1158px) {
    .container {
            max-width: 1158px;
            padding: 0 15px;
        }
 }

 /* header */

 .page-header {
     border-bottom: 1px solid #e7e9fc;
     box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
    }

        .header-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

.nav-list, 
.contacts {
    display: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo {
    display: block;
    padding: 16px 0;
}

.header-logo .logo-part {
    color: #2e2f42;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
    .burger-btn {
        display: none;
    }

        .nav-list {
            display: flex;
            align-items: center;
            gap: 40px;
        }

        .contacts {
            font-style: normal;
            display: block;
        }

                .contacts-list {
                    gap: 12px;
                    display: flex;
                    flex-direction: column;
                }

                .contacts-link {
                    display: block;
                    font-size: 12px;
                    line-height: 1.17;
                    letter-spacing: 0.04em;
                    color: #434455;
                    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                }

        .header-nav {
            display: flex;
            align-items: center;
        }

        .header-logo {
            padding: 24px 0;
            margin-right: 120px;
        }

                .nav-link {
                    display: block;
                    padding: 24px 0;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 1.5;
                    letter-spacing: 0.02em;
                    color: #2e2f42;
                    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                }
        
                .nav-link.current {
                    position: relative;
                }
        
                .nav-link.current::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -1px;
                    width: 100%;
                    height: 4px;
                    border-radius: 2px;
                    background-color: #404bbf;
                }

                        .contacts-link:hover,
                        .contacts-link:focus,
                        .nav-link:hover,
                        .nav-link:focus,
                        .nav-link.current {
                            color: #404bbf;
                        }
}


@media screen and (min-width: 1158px) {
    .header-logo {
            margin-right: 76px;
        }

        .contacts-list {
            gap: 40px;
            flex-direction: row;
            align-items: center;
        }

        .contacts-link {
            padding: 24px 0;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
        }
    }

    /* mobile menu */
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transform: translateY(100%);
    transition: transform 250ms linear;
}

.mobile-menu.is-open {
    transform: translateY(0);
}

.mobile-menu-container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu-close-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border: 1px solid #e7e9fc;
    border-radius: 50%;
}

.nav-mobile {
    padding-top: 72px;

}

.nav-list-mobile {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.nav-link-mobile {
    color: #2e2f42;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link-mobile:hover, 
.nav-link-mobile:focus {
    color: #404bbf;
}

.address-links-container {
    margin-top: auto;
}

.contacts-list-mobile {
    font-style: normal;
    display: flex;
    flex-direction: column-reverse;
    gap: 24px;
    margin-bottom: 48px;
}

.contacts-link-mobile {
    color: #434455;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link-mobile:hover, 
.contacts-link-mobile:focus {
    color: #404bbf;
}

.social-media-mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 40px;
}

.social-media-icon-mobile {
    width: 40px;
    height: 40px;
}

.social-media-link-mobile {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-link-mobile:hover, 
.social-media-link-mobile:focus {
    background-color: #31d0aa;
}

/* #region Hero */

.page-hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/mobil-bg-1x.jpg");
    background-color: #2e2f42;
    background-size: cover;
    max-width: 320px;
    height: 432px;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 72px;
    padding-bottom: 72px;
}

.page-title {
    max-width: 216px;
    margin: auto;
    margin-bottom: 48px;
    width: 216px;
    height: 120px;
    display: block;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.btn {
    min-width: 169px;
    height: 56px;
    border: none;
    padding: 16px 32px;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    font-family: inherit;
    cursor: pointer;
    background-color: #4d5ae5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
    background-color: #404BBF;
}


@media screen and (min-width: 768px) {


        .page-hero {
                background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/tablet-bg-1x.jpg");
                
                background-size: cover;
                max-width: 768px;
                background-repeat: no-repeat;
                background-position: center;
                padding-top: 112px;
                padding-bottom: 112px;
            }

                                .page-title {
                                    max-width: 496px;
                                    margin: auto;
                                    margin-bottom: 36px;
                                    width: 496px;
                                    height: 120px;
                                    display: block;
                                    font-weight: 700;
                                    font-size: 56px;
                                    line-height: 1.07;
                                    letter-spacing: 0.02em;
                                    text-align: center;
                                    color: #fff;
                                }

                                


}

@media screen and (min-width: 1158px) {

    .page-hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/desktop-bg-1x.jpg");
            max-width: 1440px;
            height: 600px;
            background-repeat: no-repeat;
            background-position: center;
            padding-top: 188px;
            padding-bottom: 188px;
        }
        
    }

/* #endregion */
    